<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
    <servers>
        <server>
            <id>nexus-releases</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>local-nexus</id>
            <activation>
                <property>
                    <name>useLocalNexus</name>
                    <value>true</value>
                </property>
            </activation>
            <mirrors>
                <mirror>
                    <id>nexus-maven-public</id>
                    <name>Local Nexus Maven Public</name>
                    <url>http://localhost:8081/repository/maven-public/</url>
                    <mirrorOf>*</mirrorOf>
                </mirror>
            </mirrors>
            <properties>
                <altReleaseDeploymentRepository>
                    nexus-releases::default::http://localhost:8081/repository/maven-releases/
                </altReleaseDeploymentRepository>
                <altSnapshotDeploymentRepository>
                    nexus-snapshots::default::http://localhost:8081/repository/maven-snapshots/
                </altSnapshotDeploymentRepository>
            </properties>
        </profile>
    </profiles>
</settings>
